---
import Hero from "@/components/hero.astro"
import RootLayout from "@/layouts/RootLayout.astro"

import Badge from "@/components/ui/examples/badge.astro"
import Button from "@/components/ui/examples/button.astro"
import Disclosure from "@/components/ui/examples/disclosure.astro"
import Inputs from "@/components/ui/examples/input.astro"
import Sheet from "@/components/ui/examples/sheet.astro"
// import CardFlip from "@/components/ui/examples/card.astro"
// import Tabs from "@/components/ui/examples/tabs.astro"

const COMPONENTS = [
	{ name: "Button", component: Button, href: "/components/button" },
	{ name: "Input", component: Inputs, href: "/components/input" },
	{ name: "Badge", component: Badge, href: "/components/badge" },
	{ name: "Sheet", component: Sheet, href: "/components/sheet" },
	{ name: "Disclosure", component: Disclosure, href: "/components/disclosure" }
	// { name: "Cards", component: CardFlip, href: "/components/card" },
	// { name: "Tabs", component: Tabs, href: "/components/tabs" }
] as const
---

<RootLayout>
	<Hero />
	<main class="max-w-8xl mx-auto w-full px-4 sm:px-6">
		<section
			class="grid grid-cols-1 gap-4 pb-10 sm:grid-cols-2 lg:grid-cols-3 2xl:gap-16">
			{
				COMPONENTS.map(component => (
					<div class="group relative mx-4 flex h-52 flex-col">
						<a
							class="absolute top-5 right-5 size-4 opacity-50 transition-opacity hover:opacity-100"
							href={`${component.href}`}>
							<svg
								class="transition-transform duration-150 ease-in-out group-hover:translate-x-1.5 group-hover:-translate-y-1.5"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								class="size-6">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
								/>
							</svg>
						</a>
						<div class="flex size-full items-center justify-center border-1 border-neutral-800">
							<component.component client:visible />
						</div>
						<p class="border-x-1 border-b-1 border-neutral-800 p-2 text-sm">
							{component.name}
						</p>
					</div>
				))
			}
		</section>
	</main>
</RootLayout>
