---
import { cn } from "@/lib/utils"

interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<div
	class={cn(
		"flex min-h-[250px] w-full items-center justify-center flex-wrap rounded-md gap-4",
		className
	)}>
	<slot />
</div>
