<footer
	class="border-y-1 border-neutral-200 bg-neutral-100 p-4 text-center text-xs text-neutral-500 dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-400">
	<p>
		Construido por
		<a class="underline" target="_blank" href="https://github.com/Alexisxde"
			>Alexis</a
		>, con el uso de Astro y Tailwindcss. El el código fuente está disponible en
		<a
			class="underline"
			target="_blank"
			href="https://github.com/Alexisxde/astro-ui-kit">
			GitHub</a
		>.
	</p>
</footer>
