---
import Badge from "@/components/ui/badge.astro"
---

<div
	class="flex w-full flex-wrap items-center justify-center gap-2 rounded-md border border-neutral-800 p-24">
	<Badge class="lowercase" size="xs">XS</Badge>
	<Badge class="lowercase" size="sm">SM</Badge>
	<Badge class="lowercase" size="md">MD</Badge>
</div>
