---
import Button from "@/components/ui/button.astro"
import Input from "@/components/ui/input.astro"
---

<form class="flex flex-col gap-3">
	<Input id="email" type="text">Correo</Input>
	<Input id="password" type="password">Contraseña</Input>
	<Button variant="primary" size="lg">Enviar</Button>
</form>
