---
import Footer from "@/components/footer.astro"
import Header from "@/components/header.astro"
import Sidebar from "@/components/sidebar.astro"
import "@/styles/global.css"
import "@fontsource/cascadia-code"
import "@fontsource/poppins"
import { ClientRouter as ViewTransition } from "astro:transitions"

interface Props {
	title?: string
	description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content={description ||
				"Astro UI Kit son componentes construidos para usar con Astro y Tailwind CSS."}
		/>
		<meta
			name="keywords"
			content="AstroUIKit, component library, Astro, Tailwind CSS, UI components"
		/>
		<meta name="theme-color" content="#202724" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} | Component`}</title>
		<ViewTransition />
	</head>
	<body>
		<section class="flex h-screen w-full flex-col">
			<Header />
			<div class="flex">
				<Sidebar />
				<div class="flex w-full flex-col">
					<main class="max-w-8xl mx-auto w-full flex-1 px-4 py-8 md:px-12">
						<article class="prose prose-invert max-w-3xl">
							<slot />
						</article>
					</main>
					<Footer />
				</div>
			</div>
		</section>
	</body>
</html>
